* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  align-items: center;
  background-color: rgb(221, 161, 171);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.checkbox {
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100px;
}

#toggle {
  display: none;
}

.checkbox .trace {
  background-color: white;
  border-radius: 4px;
  height: 8px;
  position: absolute;
  transition: 0.5s ease-in-out;
  width: 90px;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
}

.checkbox .trace:nth-child(2) {
  top: 46px;
}

.checkbox .trace:nth-child(3) {
  top: 66px;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
  top: 47px;
  transform: rotate(45deg);
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  opacity: 0;
  transform: translateX(-100px);
  top: 47px;
  visibility: hidden;
  width: 30px;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  top: 48px;
  transform: rotate(-45deg);
}